.dark-mode a {
    color: var(--primary-color-dark);
}

.dark-mode a:hover {
    color: var(--secondary-color-dark);
}

.dark-mode body {
    background-color: var(--background-color-dark);
    color: var(--primary-color-dark);

}

.dark-mode select {
    color: var(--primary-color-dark);
    border: solid 1px var(--primary-color-dark);
}

.dark-mode button {
    background-color: var(--background-color-dark);
    color: var(--primary-color-dark);
}