:root {
    --background-color: #F9F3DC;
    --primary-color: #000f14;
    --secondary-color: #FF4365;

    --background-color-dark: #222;
    --primary-color-dark: #d2b48c;
    --secondary-color-dark: #F69865;
}

/***********
 TAGS
************/

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;

    width: 50%;
    min-width: 400px;

    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

li {
    list-style-type: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

h1 {
    position: relative;
    right: 10px;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);

    font-family: 'Space Mono', monospace;
}

select {
    background-color: transparent;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
}

button {
    background-color: var(--background-color);
    color: var(--primary-color);

    border: none;
    cursor: pointer;
}

/***********
 CLASSES
************/

.app {
    display: inline;
    flex-direction: column;
}

.nav-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 1;

    background-color: var(--background-color-dark);
}

.app-nav {
    position: sticky;
    top: 0;
    right: 0;
}

.app-nav li {
    display: flex;
    flex-direction: column
}

.footer {
    margin-top: 5rem;
    position: sticky;
    float: right;
    bottom: 0;
}

.cursive {
    font-family: 'Tangerine';
    font-size: 200%;
    margin: 0;
}